[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
segment-anything = {git = "https://github.com/facebookresearch/segment-anything.git"}
pytest = "*"
ultralytics = "*"

[dev-packages]

[requires]
python_version = "3.9"
